/* home grid */

.home-boxes {
    display: grid;
    overflow-x: hidden;
    grid-template-columns: 100%; /* Set the grid to a single column by default */
    grid-template-rows: auto; /* Allow rows to adjust based on content */
}

.home-boxes img {
    width: 100%;
    height: auto; /* Ensure the image scales proportionally */
}

.home-boxes .boxes-text {
    margin-top: -5px;
    height: 100%;
    padding: 4rem 2rem;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    color: white;
}


.home-bg-black {
    background-color: black;
}

.home-bg-white {
    background-color: #E8E4C9;
    color: black;
}

.home-bg-white * {
    color: rgb(0, 0, 0);
}

.home-boxes .boxes-text p {
    color: gray;
}

.home-boxes .arrow {
    display: flex;
    width: fit-content;
    gap: 2rem;
    align-items: center;
    cursor: pointer;
}

.home-boxes a {
    width: fit-content;
}

.home-bg-black .arrow img {
    width: 40px;
    filter: invert(89%) sepia(61%) saturate(9%) hue-rotate(185deg) brightness(110%) contrast(102%);
}

.home-bg-white .arrow img {
    width: 40px;
}


/* 4 images  */

.homefeature-container {
    background-color: rgb(0, 0, 0);
}

.homefeature-container * {
    color: white;
}

.homefeature-wrapper {
    display: grid;
}

.homefeature-wrapper .homefeature-box {
    background-image: url(../../../assets/stories/desktop/mountains.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 400px;
    display: grid;
    align-items: flex-end; /* Use the standard transform property */
}

.homefeature-wrapper .homefeature-box::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    display: block;
    height: 5px;
    width: 100%;
    background-image: linear-gradient(192deg,#5a77ff,#bc7198,#ffc593);
    transition: .5s ease-in-out;
}

.homefeature-wrapper .homefeature-box:hover:after {
    opacity: 1;
}

.homefeature-wrapper .sunset {
    background-image: url(../../../assets/stories/desktop/cityscapes.jpg);
}


.homefeature-wrapper .voyage {
    background-image: url(../../../assets/stories/desktop/18-days-voyage.jpg);
}

.homefeature-wrapper .architecturals {
    background-image: url(../../../assets/stories/desktop/architecturals.jpg);
}

.homefeature-wrapper .homefeature-box .line {
    height: 2px;
    width: 100%;
    background-color: gray;
}

.homefeature-wrapper .homefeature-box .feature-box-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 2rem;
    background-color: rgb(0, 0, 0, .5);
    height: 100%;
    width: 100%;
    gap: 1rem;
    cursor: pointer;
}

.homefeature-wrapper .homefeature-box p {
    font-size: 14px;
}

.feature-box-wrapper .homefeature-arrow img {
    width: 40px;
    filter: invert(89%) sepia(61%) saturate(9%) hue-rotate(185deg) brightness(110%) contrast(102%);
}

.feature-box-wrapper .homefeature-arrow {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 624px) {
    .homefeature-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 924px) {
    .homefeature-wrapper {
        grid-template-columns: repeat(4, 1fr);
    }
}


@media (min-width: 724px) {
    .home-boxes:nth-child(odd) {
        height: 500px;
        position: relative;
        overflow: hidden;
    }

    .home-boxes:nth-child(odd) {
        grid-template-columns: 70% 30%;
    }

    .home-boxes:nth-child(even) {
        grid-template-columns: 30% 70%;
    }

    .home-boxes .img-div {
        background-color: white;
        width: auto;
        object-fit: fill;
        object-position: center;
    }

    
    .home-boxes .img-div:nth-child(2n+1) {
        order: 2;
    }


    .home-boxes .order-1 {
        order: 1;
        height: 500px;
        overflow-y: hidden;
    }

    .home-boxes .order-2 {
        order: 2;
        height: 100%;
    }

    .home-boxes .img-div img {
        width: 100%;
        height: 100%;
        object-position: top;
        object-fit: cover;
    }

    .home-boxes .boxes-text {
        margin-top: 0;
        height: 500px;
        padding: 0 2rem;
        justify-content: center;
    }

    .home .home-boxes .boxes-text:nth-child(2) {
        margin-top: 0;
        height: 500px;
        padding: 0 2rem;
        justify-content: center;
    }
    
}

@media (min-width: 1024px) {
    .home-boxes:nth-child(odd) {
        grid-template-columns: 40% 60%; /* Define two columns */
        height: 500px;
    }

    .home-boxes:nth-child(even) {
        grid-template-columns: 60% 40%; /* Define two columns */
        height: 500px;
    }
}
